<div class="row">
    <div class="col-md-12">
        <h4>Nuevo Producto</h4>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="nombre" class="control-label col-md-12">
                          Nombre
                        </label>
                <div class="col-md-12">
                    <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="model.nombre" placeholder="Digite el Nombre">
                </div>
            </div>
            <div class="form-group">
                <label for="posicion" class="control-label col-md-2">
                              Descripcion
                            </label>
                <div class="col-md-12">
                    <input type="text" name="posicion" id="posicion" class="form-control" [(ngModel)]="model.descripcion" placeholder="Digite el Posicion">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-md-12">
                              Categoria
                            </label>
                <div class="col-md-12">
                    <input type="text" name="meial" id="email" class="form-control" [(ngModel)]="model.categoria" placeholder="Digite el Email">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-md-12">
                              Imagen
                            </label>
                <div class="col-md-12">
                    <input type="text" name="meial" id="email" class="form-control" [(ngModel)]="model.imagen" placeholder="Digite el Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-offset-12">
                    <button type="submit" class="btn btn-primary" (click)="nuevoProducto()">Guardar</button>

                </div>
            </div>
        </form>
    </div>
</div>