<div class="row mt-5">
    <div class="col-md-5">
        <div class="card shadow p-4">
            <h4 class="text-center mb-5">Nuevo Producto</h4>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="nombre" class="control-label col-md-12">
                              Nombre
                            </label>
                    <div class="col-md-12">
                        <input type="hidden" name="productoId" id="productoId" [(ngModel)]="model._id">
                        <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="model.nombre" placeholder="Digite un nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="posicion" class="control-label col-md-4">
                                  Descripcion
                                </label>
                    <div class="col-md-12">
                        <input type="text" name="descripcion" id="descripcion" class="form-control" [(ngModel)]="model.descripcion" placeholder="Digite una descripcion">
                    </div>
                </div>
                <div class="form-group">
                    <label for="posicion" class="control-label col-md-4">
                                  Precio
                                </label>
                    <div class="col-md-12">
                        <input type="text" name="precio" id="precio" class="form-control" [(ngModel)]="model.precio" placeholder="Digite una precio">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-md-12">
                                  Categoria
                                </label>
                    <div class="col-md-12">
                        <input type="text" name="categoria" id="categoria" class="form-control" [(ngModel)]="model.categoria" placeholder="Digite una categoria">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-md-12">
                                  Imagen
                                </label>
                    <div class="col-md-12">

                        <img [src]="model.imagen || 'https://ppid.blorakab.go.id/packages/tugumuda/portal/img/default-square.jpg'" class="card-img-top" alt="...">
                        <!--<input type="text" name="imagen" id="imagen" class="form-control" [(ngModel)]="model.imagen" placeholder="Digite la imagen">-->

                        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                        <button (click)="fileInput.click()" class="btn btn-primary btn-block"><fa name="eye" style="color: white;"></fa></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-offset-12">
                        <button type="submit" class="btn btn-primary btn-block" (click)="nuevoProducto()">Guardar <fa name="send" style="color: white;"></fa></button>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class=col-md-7>
        <div class="card shadow p-4">
            <h4 class="text-center mb-5">Lista de Productos</h4>
            <table class="table table-hover">
                <thead>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos; let i = index">
                        <td>{{producto._id}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precio}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-primary btn-sm rounded-circle shadow" (click)="editarProducto(producto)">
                                    <fa name="edit" style="color: white;"></fa>
                                </button>
                                <button class="btn btn-danger btn-sm rounded-circle shadow" (click)="eliminarProducto(producto)">
                                    <fa name="trash" style="color: white;"></fa>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>