<div class="row mt-2">
    <div class="col-md-3 mt-3" *ngFor="let producto of productos | filtroproducto : filtrarproducto">

        <div class="card shadow">
            <div class="text-center"><img src="{{producto.imagen}}" class="card-img-top" alt="..." style="width: 200px!important"></div>
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text text-muted">{{producto.descripcion}}</p>
                <p class="card-text">C$ {{producto.precio}}</p>
            </div>
        </div>
    </div>
</div>
<div class="mb-5"></div>