<div class="row title-font">
    <div class="col-md-12 mt-5">
        <h1 class="text-center">Bienvenidos a la Tienda Pop</h1>
        <h5 class="text-center">¡Donde encuentras tos tus personajes preferidos!</h5>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-3 mt-3" *ngFor="let producto of productos">

        <div class="card shadow">
            <div class="text-center"><img src="{{producto.imagen}}" class="card-img-top" style="width: 200px!important" alt="..."></div>
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text text-muted">{{producto.descripcion}}</p>
                <p class="card-text">C$ {{producto.precio}}</p>
            </div>
        </div>
    </div>
</div>