<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Pop_logo_red_it_0.png" width="60" height="30" class="d-inline-block align-top" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link titulo" routerLink="/nuevo" routerLinkActive="active">Gestionar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link titulo" href="#">Buscar </a>
            </li>

        </ul>
    </div>
</nav>